sudo: required
language: node_js
node_js: '10'
git:
  depth: 1
branches:
  only:
  - master
env:
  global:
    - CXX=g++-4.8
    - NODE_OPTIONS="--max_old_space_size=4096"
addons:
  apt:
    update: true
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
    - libsecret-1-dev
    - xvfb
    - libx11-dev
    - libxkbfile-dev
    chrome: stable
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.13.0
  - export PATH=$HOME/.yarn/bin:$PATH
install:
  - yarn install --no-lockfile
  - yarn prepare
script:
 - travis_retry yarn test

jobs:
  fast_finish: true
  allow_failures:
    - os: osx
    - os: windows
  include:
  - stage: test
    os: linux
  - os: osx
    env: CXX=c++
    before_script: skip
    script:
      - travis_retry yarn test:theia
  - os: windows
    env:
    - CXX=c++
    - YARN_GPG=no
    before_script: skip
    script:
      - travis_retry yarn test:theia
  - stage: deploy
    if: NOT type IN (cron, pull_request)
    os: linux
    before_script: skip
    script: skip
    install: skip
    before_deploy:
      - |
        if ! [ "$BEFORE_DEPLOY_RUN" ]; then
          export BEFORE_DEPLOY_RUN=1
          printf "//registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}\n" >> ~/.npmrc
          yarn
        fi
    deploy:
      - provider: script
        script: yarn run publish:next
        on:
          branch: master
        skip_cleanup: true

